!URXVT CONFIGURATION
URxvt.font: xft:SourceCodePro:size=10
!URxvt.font: xft:iTerm2:size=10
URxvt.scrollBar: false
!URxvt.background: #000000
!URxvt.foreground: #FFFFFF
!URxvt*depth: 32
!URxvt.cursorColor: white
URxvt.foreground:   #f1fcf8
URxvt.background:   #111012
URxvt.cursorColor:  #f1fcf8

! black
URxvt.color0:       #b4b4aa
URxvt.color8:       #b4b4aa

! red
URxvt.color1:       #64605f
URxvt.color9:       #64605f

! green
URxvt.color2:       #7e8d88
URxvt.color10:      #7e8d88

! yellow
URxvt.color3:       #d0d4b9
URxvt.color11:      #d0d4b9

! blue
URxvt.color4:       #b0c2c2
URxvt.color12:      #b0c2c2

! magenta
URxvt.color5:       #f3fcf7
URxvt.color13:      #f3fcf7

! cyan
URxvt.color6:       #988c80
URxvt.color14:      #988c80

! white
URxvt.color7:       #70735e
URxvt.color15:      #70735e

!ROFI CONFIGURATION
!rofi.color-enabled: true
!rofi.color-window: #273238, #273238, #1e2529
!rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff
!rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
!rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844
rofi.theme: theme
